{% for message in messages %}
<div
  class="d-flex flex-nowrap chat-item {% if message.sender.username == user.username %}flex-row-reverse{% endif %}"
  id="{{message.id}}"
  read="{% if message.sender.username != user.username %}{{message.read}}{% endif %}"
>
  <img
    class="user-avatar"
    src="{% if message.sender.username == user.username %}/users{{user.profile_pic.pic.url}} {% else %}/users{{chatWithUser.profile_pic.pic.url}}{% endif %}"
    alt="..."
  />
  <div class="bubble">
    <div class="message">{{message.text|safe}}</div>
    <div class="time">{{message.time|time}}</div>
  </div>
</div>
{% endfor %}

<div class="THERE" id="{{THERE}}"></div>
